body{
    background: 
    -webkit-radial-gradient(140%, 
                            circle cover, 
                             #fcfcfc 0%,
                           #4966eb  100%);  
}


#principal{
    float: left;
    width: auto;
    height: 500px;
    border: solid 5px #000;
    margin-right: 500px; 
}

#cronometro-tabela{
    width: 140px;
    height: 132px;
}

.cronometro{
    background: url('imagens/plin(1).png');
    text-align: center;
}

#cronometro{
    color: #000 ;
    font-size: 30px;

}

#balloon_inteiros{
    font-size: 40px;
}

#balloon_estourados{
    font-size: 40px;
}

#jogo{
    float: left;
    width: 600px;
    height: 500px;
    background: url('imagens/ceu.png');
    

}

.a2{
    text-decoration: none;
    text-decoration: none;
    color:#5f7a06;
    color: #FFF;
    font-size: 150%;
    font-size: 150%;
    margin-right:5%;
    margin-right:10%;
    font-family: 'AkzidenzGrotesk BQ Bold';
    font-family: 'OpenSans-Bold';



}

.banner{
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: -1;
}
.banner{
    text-align: left;
    padding-top: 30%;
    padding-left: 10%;
}



h3{
    color: #000;
    font-size: 40pt;
    margin-right:15%;
    margin-right:20%;
    font-family: 'OpenSans-Bold';
    padding-top:2%;
    padding-left: 43%;
}

#nivel_jogo{
    background-color:#4966eb  ;
    border-radius: 5px;
    padding-top: 1%;
    padding-left:5%;
    display: inline-block;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 5%;
    margin-left: 43%;
font-family: 'Arial';
font-size: 16pt;

}

element {

    margin: 10px;
    top: -20px;
    position: relative;

}
