body{
    background: 
    -webkit-radial-gradient(140%, 
                            circle cover, 
                            #29b4ff 0%,
                            #ec82fd 100%);  
}


#principal{
    float: left;
    width: auto;
    height: 500px;
    border: solid 5px #000;
    margin-right: 500px; 
}

#cronometro-tabela{
    width: 140px;
    height: 132px;
}

.cronometro{
    background: url('imagens/plin(1).png');
    text-align: center;
}

#cronometro{
    color: #000 ;
    font-size: 30px;

}

#balloon_inteiros{
    font-size: 40px;
}

#balloon_estourados{
    font-size: 40px;
}

#jogo{
    float: left;
    width: 600px;
    height: 500px;
    background: url('imagens/cenario.png');
    
}

a{
width:900px;
height:600px;
color:black;
}